/* #root {
  display: grid;
  place-items: center;
} */
/* .div {
  display: flex;
  place-items: center;
} */
button {
  padding: 1em;
  border: 0.5em outset black;
}
#widgetBtn {
  display: flex;
  justify-content: center;
}
#resetBtn {
  display: flex;
  justify-content: center;
}

#gameBoard {
  position: relative;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 3;
  margin: 0 auto;
  justify-content: center;
  background-color: rgb(189, 0, 0);
  border: double 2em darkred;
  height: fit-content;
  width: fit-content;
  gap: 0.5em;
  box-shadow: 0em 0em 1.5em 0.5em rgb(156, 55, 55);
}

.rows {
  display: flex;
  gap: 0.5em;
}

.cords {
  display: grid;
  place-content: center;
  flex-direction: column;
  text-align: center;
  font-size: xx-large;
  height: 3em;
  width: 3em;
  border: solid 0.08em black;
  color: black;
  background-color: rgba(255, 255, 255, 0.767);
}

.playerturn {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: x-large;
  border: inset 1em rgb(117, 216, 255);
  margin-top: 1em;
}

#winbanner {
  background-color: goldenrod;
  color: rgb(94, 67, 0);
  border: inset 1em gold;
}

#drawbanner {
  background-color: rgb(138, 177, 192);
  color: rgb(0, 0, 0);
  border: inset 1em rgb(131, 156, 168);
}
